.tasksList {
    display: grid;
    grid-template-rows: repeat(minmax(70px, auto));
    grid-template-columns: 800px;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    margin: 20px;

}

.tasksList__item {
    display: grid;
    background-color: white;
    padding: 20px;
    justify-content: start;
    margin: 0;
}

.tasksList__item--title {
    background-color: #eee;
    padding-left: 0;
}

.tasksList__item--form {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.tasksList__addInput {
    width: 80%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0%;
    height: 30px;
}

.tasksList__addButton{
    height: 34px;
    border: 0px;
    background-color: teal;
    color: white;
}